$primary-color: #337ab7;
$font-text: #ffffff;
$padding-box: 10px;

@mixin center-div() {
	margin: 0 auto;
	float: none;
}

@mixin box-format {
	padding: $padding-box;
}

/* CSS Row and Column */
.row {
	.col {
		&.middle {
			@include center-div;
		}		
	}
}

/* CSS box */
.bg-primary {
   @include box-format;
   background: $primary-color;
}

.test {
	background: red;
}
.aasfs {
	color: red;
}
.odd {
   color: red;
}
.textType {
	color: red;
}


