<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<h5 class="header col s12 light" id="question">{{question}}</h5>
		<form action="#">
			<p ng-repeat="option in options">
				<input class="with-gap" id="{{option | customKeyFormat}}" type="radio" name="answer" value="{{option}}">
				<label for="{{option | customKeyFormat}}">{{option}}</label>
				
			</p>
		</form>
		<button class="btn-large waves-effect waves-light orange" ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
		
		<!-- show notice here -->
	
		
		<div ng-show="!answerMode">
			<button  class="btn-large waves-effect waves-light orange" ng-click="nextQuestion()" class="next-question">Next</button>
			<p>
				<span ng-show="correctAns">That is correct!</span>
				<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
    		</p>
		</div>

		<div ng-show="answerMode">
			<div ng-show="checkNull">
				<p>Funny and complex</p>
			</div>
		</div>
	</div>

	<div ng-show="quizOver">
		<h5 class="header col s12 light">Quiz is over</h5>
		<button  class="btn-large waves-effect waves-light orange" ng-click="reset()">Play again</button>
	</div>

	<div id="score">
		Score: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the QuizApp</p>
	<button id="startQuiz" class="btn-large waves-effect waves-light orange" ng-click="start()">Start the Quiz</button>
</div>

<!-- <p>{{getQuestions}}</p> -->